.formBox {
    width:60%;
    min-height:20%;
    padding:1rem;
    background-color: white;
    color:#1F1F1F;
}
.formBox div.logo {
    width: 100%;
    margin:0 auto;
}
.formBox div.logo img {
    margin: 0 auto;
    height:6rem;
    width:6rem;
    display: block;
}
.formBox h3 {
    font-size: 1.75rem;
    line-height: 1.9rem;
    margin:0.7rem 0;
    padding:0;
}
.formBox p {
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin:0.5rem 0;
    padding:0;
}
.formBox p a {
   color:#0C7AF8;
   text-decoration: none;
}
.formBox p a:hover {
    color:#00428E;
    text-decoration: underline;
 }
 .formBox span {font-size: 0.9rem;line-height: 1.3rem;display: block;color:#797979;}
.textCenter {
    text-align: center;
}
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .formBox {
        width:80%;
      }
  }
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .formBox {
        width:80%;
      }
  }
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .formBox {
      width:90%;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(41, 41, 41, 0.6);
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 576px) {
    .formBox {
      width: 90%;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(41, 41, 41, 0.6);
    }
  }
  @media only screen and (max-width: 575px) and (min-width: 281px) {
    .formBox {
      width: 90%;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(41, 41, 41, 0.6);
    }
    .formBox p {
      font-size: 1rem;
      line-height: 1.2rem;
      margin:0.5rem 0;
      padding:0;
  }
  } @media only screen and (max-width: 280px) {
    .formBox {
      width: 95%;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(41, 41, 41, 0.6);
    }
    .formBox p {
      font-size: 1rem;
      line-height: 1.2rem;
      margin:0.5rem 0;
      padding:0;
  }
  }