.bgInfo {
  width: 50%;
  height: 100vh;
  opacity: 0.4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blueRay {
  height: 100vh;
  opacity: 0.4;
  background-color: #0d6efd;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .bgInfo {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .bgInfo {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) and (min-width: 281px) {
  .bgInfo {
    width: 100%;
  }
} @media only screen and (max-width: 280px) {
  .bgInfo {
    width: 100%;
  }
}
